<html>
    <head>
        <title>Results Here</title>
        <link rel="stylesheet" href="/stylesheets/design.css">
    </head>
    <body>
        <h1 class="ser">Search Results <span>></span> <%= queryres.toUpperCase() %></h1>
      <%  dta['results'].forEach((movies)=>{ %>

            <div class="card">
                <div class="row">
                    <div class="column-left pad">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/<%= movies["poster_path"] %>" alt="">
                    </div>
                    <div class="column-right pad">
                        <div class="card-body">
                            <h1 class="card-title"><%= movies["original_title"] %></h1>
                            <hr>
    
                            <p class="card-text"><%= movies["overview"] %></p>
                            <hr>
                            <p class="card-text"><b>Date Published: </b><%= movies["release_date"] %></p>
                            <p class="card-text"><b>Date Total Votes: </b><%= movies["vote_count"] %></p>
                            <p class="card-text"><b>Rating </b><%= movies["vote_average"] %></p>
                        </div>
                    </div>
                </div>
            </div>
      <%  }) %>


       
    </body>
</html>